<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %} - Zulgate</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="col-md-12 sticky-top bg-light shadow">
            <nav class="navbar">
                <a class="navbar-brand" href="/">Zulgate</a>
                <ul class="nav justify-content-end">
                    <li>
                        <a class="nav-link" href="#">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li>                            
                        <a class="nav-link" href="#">Se connecter</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row m-0">
            <div class="col-md-2 bg-light">
            <nav class="fixed-left d-none d-md-block bg-light sidebar pt-2 h-100">
                <div class="sidebar-sticky">
                    <ul class="nav">
                        <li class="sidebar-search mx-3">
                            <a class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Recherche...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path("add") }}">Rajouter un lien</a>
                        </li>
                    </ul>
                </div>            
            </nav>
            </div>
            <div class="col-md-10 mr-0">
                <div class="container-fluid">
                  {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer fixed-bottom bg-light font-weight-light">
            <div class="container">
                <p class="text-center mb-0" href="#">Crédit - Mentions</p>
            </div>
        </footer>
    
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
